@font-face {
    font-family: 'tf2';
    src:url('../fonts/tf2.eot?-6gxv1a');
    src:url('../fonts/tf2.eot?#iefix-6gxv1a') format('embedded-opentype'),
        url('../fonts/tf2.woff?-6gxv1a') format('woff'),
        url('../fonts/tf2.ttf?-6gxv1a') format('truetype'),
        url('../fonts/tf2.svg?-6gxv1a#tf2') format('svg');
    font-weight: normal;
    font-style: normal;
}
