<div id="fixed">
    <img class="logo" src="images/tf2_logo_120.png"/>
    <div id="stored" class="clearfix">
        <div class="stored-url url-{{url[0]}}" ng-repeat="url in storedUrls">{{url[1]}}<div class="remove icon-cross" ng-click="removeUrl(url)"></div></div>
    </div>
    <button id="toggleadd" ng-click="add = true" ng-show="!add" class="icon-plus"></button>
    <button ng-click="changeTheme('white')" ng-class="{'active': theme.bgr === 'white'}" class="icon-paint-format"></button>
    <button ng-click="changeTheme('black')" ng-class="{'active': theme.bgr === 'black'}" class="icon-paint-format"></button>

    <div id="info">
        <div ng-if="!storedUrls.length">Add some feeds...</div>
        <div ng-if="loading" class="spinner-wrapper" >
            <div class="loader"></div>
            fetching data...
        </div>
        <div class="spinner-wrapper" ng-if="!loading && !imagesLoaded && storedUrls.length && !error">
            <div class="loader"></div>
            <div class="percentage">{{(loadedImageCount / posts.length) * 100 | number : 0 }}%</div>
            loading images...
        </div>
        <div id="error" ng-show="error"><span class="icon-notification"></span>{{error}}</div>
    </div>
    <div id="bottom">
        <button class="prev" ng-click="multipleFetch(page.start-50)" ng-disabled="page.start == 0">&#9664;</button>
        <div class="page" ng-show="storedUrls.length">{{page.start > 0 ? page.start * storedUrls.length + 1 + '-': '1 - '}}{{(50 + page.start) * storedUrls.length}}</div>
        <button class="next" ng-click="multipleFetch(page.start+50)">&#9654;</button>
    </div>
</div>
