<div id="fixed">
    <img class="logo" src="images/tf2_logo_120.png"/>
    <div id="stored" class="clearfix">
        <div ng-repeat="url in storedUrls" class="stored-url url-{{url[0]}}">
            <div
                ng-mouseenter="highlight(url, true)"
                ng-mouseleave="highlight(url, false)">
                {{url[1]}}
            </div>
            <div
                class="remove icon-cross"
                ng-click="removeUrl(url)"
                ng-mouseenter="deleteHighlight(url, true)"
                ng-mouseleave="deleteHighlight(url, false)">
            </div>
        </div>
        <button id="toggleadd" ng-click="add = true" ng-show="!add" class="icon-plus"></button>
        <div id="addnew" ng-show="add">
            <form>
                <input type="text" id="url-input" ng-model="tumblrUrl.name" placeholder="type tumblr name" ng-class="error === 404 ? 'error' : ''" autofocus/>
                <div class="action">
                    <button id="store" ng-disabled="!tumblrUrl.name" ng-click="addUrl(); add = false" class="icon-floppy-disk"></button>
                    <button id="closeadd" ng-click="add = false" class="icon-cross"></button>
                </div>
            </form>
        </div>
    </div>

    <button ng-click="changeTheme(!theme.white)" class="icon-format-paint"></button>


    <div id="bottom">
        <button class="prev" ng-click="multipleFetch(page.start-50)" ng-disabled="page.start == 0">&#9664;</button>
        <div class="page" ng-show="storedUrls.length">{{page.start > 0 ? page.start * storedUrls.length + 1 + '-': '1 - '}}{{(50 + page.start) * storedUrls.length}}</div>
        <button class="next" ng-click="multipleFetch(page.start+50)">&#9654;</button>
    </div>
</div>
